<!-- قسم نبذة عن الجامعة مختصر 
<div class="row align-items-center mb-5">
    <div class="col-md-6">
        <img src="~/img/images.jpg" />
    </div>
    <div class="col-md-6">
        <h2>عن جامعة XYZ</h2>
        <p>
            جامعة XYZ مؤسسة تعليمية تهدف لتقديم برامج أكاديمية متميزة وتأهيل الطلاب لسوق العمل.
        </p>
        <a asp-controller="Courses" asp-action="GetCourses" class="btn btn-primary mt-3">
            📖 تصفح الكورسات
        </a>
    </div>
</div>
-->
